.row.mt-2
    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        %h1.text-center Search for a Campaign Finance

    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        = form_tag campaign_finance_path, method: :post do
            .form-group.row
                .col-md-4
                    = label :campaign, :cycle, class: 'col-form-label'
                .col-md-6
                    = select :campaign, :cycle, @cycle, { include_blank: false }, class: 'form-control'
            .form-group.row
                .col-md-4
                    = label :campaign, :category, class: 'col-form-label'
                .col-md-6
                    = select :campaign, :category, @category, { include_blank: false }, class: 'form-control'
            .actions
                = submit_tag 'Search', class: 'btn btn-primary'
